<% include common/header.ejs %>\

<div id="cart">
    <div class="header">
        <h3>Замовлення <span class="amount_of_orders">0</span></h3>
        <span id="clear">Очистити</span>
    </div>
    <div id="orderOne">
    </div>


    <div class="sum_of_order">
        <div class="suma">
            <h4>Сума замовлення</h4>
            <h4 id="totalBuy">0 грн</h4>
        </div>
        <div class="btn btn-warning">Замовити</div>
    </div>
</div>

